.navbar {
  height: 50px;
  background-color: #000000ec;
  padding: 0 50px;
}
.navbar img {
  width: 100px;
  height: 50px;
  margin-right: 20px;
}
.navbar a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
  padding: 16px 5px;
}
.navbar a:hover{
    background-color: #808080a1;
} 

.fa-shopping-bag {
  color: #ffff006e;
  margin-right: 10px;
}
.fa-user {
  color: #5eff00cb;
  margin-right: 10px;
}

.search input {
  width: 80%;
  font: 1em sans-serif;
  border: 1px solid gray;
  border-radius: 20px;
  margin-right: 5px;
  padding: 5px 10px;
  outline: none;
}
.search input:focus {
  border: 1px solid white;
}
