.navbar {
  height: 50px;
  background-color: #000000ec;
  padding: 0 50px;
}
.name{
  font-family: 'Gluten', cursive;
  margin-right: 10px;
  cursor: pointer;
}
.navbar a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
  padding: 12px 5px;
}
.navbar a:hover{
    background-color: #808080a1;
} 

.fa-user-circle {
  color: #fffffffb;
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
}

.search input {
  width: 80%;
  font: 1em sans-serif;
  border: 1px solid gray;
  border-radius: 20px;
  margin-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 10px;
  outline: none;
}
.search input:focus {
  border: 1px solid white;
}
